<div class="container">
    <div class="upper-data">
        <img src="Images/Sun.jpg">

        <div class="weather-data">
            <div class="location">Basil</div>
            <div class="tempreture">{{ 14.4 | number:'1.0-0' }}°C</div>
        </div>
    </div>

    <div class="lower-data">
        <div class="More-info-label" *ngIf="rainfall !== undefined">
            <!-- Additional information could be displayed here -->
        </div>
        <div class="more-info-container">
            <div class="info-block">
                <div class="info-block-label">
                    <img src="Images/min.jpg">
                    <span>Min</span>
                </div>
                <div class="info-block-value">10°C</div>
            </div>
            <div class="info-block">
                <div class="info-block-label">
                    <img src="Images/max.jpg">
                    <span>Max</span>
                </div>
                <div class="info-block-value">20°C</div>
            </div>
            <div class="info-block">
                <div class="info-block-label">
                    <img src="Images/Humidity.jpg">
                    <span>Humidity</span>
                </div>
                <div class="info-block-value">77%</div>
            </div>
            <div class="info-block">
                <div class="info-block-label">
                    <img src="Images/wind.png">
                    <span>Wind</span>
                </div>
                <div class="info-block-value"><span>11 km/h</span></div>
            </div>
        </div>
    </div> 
    <h1>Weather </h1>
<app-rainfall-graph [predictedRainfall]="predictedRainfall ">
</app-rainfall-graph>


<router-outlet />
