:root {
  --primary-color: #384B70;
  --secondary-color: #507687;
  --third-color: #B9E5E8;    /* Red */
  --background-color: #7AB2D3;
  --text-color: #FCFAEE;      
  --shadow-dark: rgba(0, 0, 0, 0.3);
  --shadow-light: rgba(255, 255, 255, 0.1);
  --main-font-family: 'Arial', sans-serif;
}

* {
  margin: 0;/* maintain consistancy between browsers*/
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: var(--main-font-family);
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center; /* Centering the content horizontally */
  align-items: center; /* Vertically aligning the containers */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.main-wrapper {
  display: flex;                /* Display containers side by side */
  flex-direction: row;          /* Ensure containers are placed in a row */
  justify-content: flex-start; /* Aligns the containers to the left */
  align-items: flex-start;      /* Ensures containers stay at the top */
  gap: 20px; 
  width: 100%;            /* Allows both containers to take their natural widths */
  max-width: 1200px;        /* Limit the width */
  padding: 1em;
}
.weatherwise-container {
  position: fixed; /* Allows you to position it relative to the nearest positioned ancestor */
  top: 20px; /* Adjust the distance from the top */
  right: 1220px; /* Adjust the distance from the right */
  width: 320px; /* Set the width of the container */
  height: 50px; /* Set the height of the container */
  background-color: var(--secondary-color); /* Match the container's background color */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 10px var(--shadow-dark); /* Add shadow for depth */
  z-index: 10; /* Ensure it appears above other elements */
  display: flex;
  justify-content: center; /* Center the heading horizontally */
  align-items: center; /* Center the ading vertically */
}
.upper-data {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.weatherwise-container h2 {
  color: var(--text-color); /* Match text color */
  font-size: 1.5em; /* Adjust font size */
  text-align: center; /* Center the text */
}
.h1{
  color: var(--text-color);
}
.container{
  width: 400px;
  height: 80vh;
  background-color: var(--secondary-color);
  border-radius: 20px;
  box-shadow: 10px 10px 10px var(--shadow-dark);
  display: flex;
  flex-direction: column;
}
.second-container {
  width: 1000px;
  height: 80vh;
  background-color: var(--secondary-color);
  border-radius: 20px;
  box-shadow: 10px 10px 10px var(--shadow-dark);
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.mainpage {
  position: center;
  width: 400px;
  height: 80vh;
  background-color: var(--secondary-color);
  border-radius: 20px;
  box-shadow: 10px 10px 10px var(--shadow-dark);
}
.upper-data {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.upper-data img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.weather-data {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: var(--shadow-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.location {
  color: var(--text-color);
  text-align: center;
  font-size: 1.2em;
}

.tempreture {
  color: var(--text-color);
  font-size: 4em;
  text-align: center;
  font-weight: 900;
}

.more-info-label {
  color: var(--text-color);
  margin-bottom: 1em;
}

.more-info-container {
  flex: 1;
  background-color: var(--shadow-light);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.info-block {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info-block-label {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-block-label img {
  width: 4em;
  border-radius: 15px; /* Adjust the value to change the roundness */
  overflow: hidden; /* Ensures any overflow is hidden */
  display: block; /* Ensures the image behaves properly within a block context */
}

.info-block-label span {
  color: var(--text-color);
  font-size: 0.8em;
}

.info-block-value {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--text-color);
  font-size: 1.2em;
}

.lower-data {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 1em;
  display: flex;
  flex-direction: column;
}


